.profile__avatar-link {
  cursor: pointer;
  position: absolute;
  z-index: 1;
  width: 130px;
  height: 130px;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
  border-radius: 50%; }

.profile__avatar-link:hover {
  opacity: 1;
  color: #fff;
  text-align: center;
  background: rgba(0, 0, 0, 0.5); }
