.profile__input {
  font-size: 0.8rem;
  display: block;
  width: 280px;
  text-align: right;
  border: none;
  background-color: transparent;
  color: #fff;
  margin-bottom: 5px; }

.profile__input:focus {
  outline: none; }
