.blackout {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none; }
