.chat__dialog {
  height: 72px;
  border-top: 1px solid #26282f;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.chat__dialog:hover {
  background-color: #26282f;
  cursor: pointer;
}
