html {
  height: 100%;
  color: #adadad; }

a {
  text-decoration: none;
  color: #adadad; }

p {
  text-decoration: none;
  margin: 0; }

ul,
li {
  text-decoration: none;
  margin: 0;
  padding: 0; }

.w-100 {
  width: 100%; }

::-webkit-scrollbar {
  width: 5px; }

::-webkit-scrollbar-track {
  background: #373740;
  border-radius: 10px; }

::-webkit-scrollbar-thumb {
  background: #26282f;
  border-radius: 10px; }

.chatapp {
  width: 100%;
  height: 100%; }

.loading {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.page {
  margin: 0;
  height: 100%; }

.page_theme_dark {
  font-family: "Roboto", sans-serif;
  color: #adadad;
  background-color: #33333d; }

.signin {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center; }

.login {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center; }

.blackout {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none; }

.blackout_state_show {
  display: flex; }

.modal {
  border-radius: 5px;
  background-color: #26282F;
  position: absolute;
  padding: 15px 0;
  display: none; }

.modal__section {
  display: flex;
  justify-content: center; }

.modal__section_column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.modal__content {
  padding: 15px;
  display: flex;
  flex-direction: column; }

.modal__content_with_scroll {
  max-height: 140px;
  overflow-y: auto;
  overflow-x: hidden;
  padding-bottom: 10px; }

.modal__text {
  font-size: 0.8rem;
  text-align: center; }

.modal__text_display_none {
  display: none; }

.modal__text_bg_red {
  color: #ff6859; }

.modal__title {
  color: #fff;
  font-size: 1rem;
  margin-bottom: 35px; }

.modal__button {
  width: 280px;
  height: 37px;
  border-radius: 5px;
  margin: auto;
  border: 1px solid transparent;
  margin-bottom: 5px; }

.modal__button:focus {
  outline: 0; }

.modal__button_bg_dark-green {
  background-color: #045d56;
  color: #fff;
  font-size: 1rem;
  background-position: center;
  transition: background 0.8s; }

.modal__button_bg_dark-green:hover {
  cursor: pointer;
  background: #2a7d76 radial-gradient(circle, transparent 1%, #2a7d76 1%) center/15000%; }

.modal__button_bg_dark-green:active {
  background-color: #44948e;
  background-size: 100%;
  transition: background 0s; }

.modal__file-upload {
  margin-bottom: 35px; }

.modal__file-upload__label {
  font-size: 0.8rem;
  text-decoration: underline; }

.modal__file-upload__input {
  display: none; }

.modal_position_left-end {
  bottom: 20px;
  left: 0; }

.modal_position-right-top {
  top: 20px;
  right: 0; }

.modal_state_hide {
  display: none; }

.modal_state_show {
  display: block; }

.modal__close {
  position: absolute;
  right: 15px;
  top: 5px;
  color: #adadad;
  font-size: 1rem;
  margin-top: 10px; }

.modal__close:hover {
  cursor: pointer;
  color: #1eb980; }

.card {
  width: 340px;
  margin: auto;
  background-color: #373740;
  border-radius: 5px; }

.card__header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 40px; }

.card__body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; }

.card__footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 40px; }

.card__title {
  font-size: 1.5rem;
  margin: auto;
  color: #fff; }

.card__link {
  color: #adadad;
  font-size: 0.8rem;
  margin-top: 10px; }

.card__button {
  width: 280px;
  height: 37px;
  border-radius: 5px;
  margin: auto;
  border: 1px solid transparent; }

.card__button:focus {
  outline: 0; }

.card__button_bg_dark-green {
  background-color: #045d56;
  color: #fff;
  font-size: 1rem;
  background-position: center;
  transition: background 0.8s; }

.card__button_bg_dark-green:hover {
  cursor: pointer;
  background: #2a7d76 radial-gradient(circle, transparent 1%, #2a7d76 1%) center/15000%; }

.card__button_bg_dark-green:active {
  background-color: #44948e;
  background-size: 100%;
  transition: background 0s; }

.single-field {
  margin: auto;
  width: 100%;
  border-radius: 5px;
  background-color: #26282f;
  padding: 0 10px; }

.single-field__input {
  font-size: 0.9rem;
  height: 32px;
  width: 100%;
  border: none;
  background-color: transparent;
  color: #adadad; }

.single-field__input::placeholder {
  text-align: center;
  font-family: "Font Awesome 5 Free"; }

.single-field__input:focus::placeholder {
  text-align: left;
  font-family: "Font Awesome 5 Free"; }

.single-field__input:focus {
  outline: none; }

.single-field__icon {
  width: 16px; }

.single-filed__button {
  width: 16px;
  border: none;
  background-color: transparent;
  color: #adadad; }

.form-field {
  width: 280px;
  margin: auto;
  margin-bottom: 32px;
  position: relative; }

.form-field__label {
  color: #adadad;
  font-size: 0.8rem;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all; }

.form-field__input {
  font-size: 0.8rem;
  padding: 8px 0 8px 0;
  display: block;
  width: 280px;
  border: none;
  border-bottom: 1px solid #adadad;
  background-color: transparent;
  color: #fff; }

.form-field__input:focus {
  outline: none;
  border-bottom: 1px solid #1eb980; }

.form-field__input:valid + .form-field__label {
  top: -12px;
  font-size: 0.7rem;
  color: #adadad; }

.form-field__input:focus + .form-field__label {
  top: -12px;
  font-size: 0.7rem;
  color: #1eb980; }

/*.form-field__input:invalid + .form-field__label {
  top: -12px;
  font-size: 0.7rem;
  color: #adadad;
}*/
.form-field__input_invalid {
  /*...*/ }

.form-field__input_invalid ~ .form-field__error {
  display: block; }

.form-field__error {
  position: absolute;
  left: 5px;
  bottom: -20px;
  font-size: 0.7rem;
  color: #ff6859;
  display: none; }

.list {
  display: flex;
  flex-direction: column; }

.list__text {
  color: #fff;
  flex-grow: 1;
  margin: 5px 20px 5px 5px;
  text-align: left; }

.list__item {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  cursor: pointer;
  line-height: 2rem;
  text-align: center; }

.list__item:hover {
  background-color: #373740; }

.list__item_selected {
  color: #ff6859; }

.list__icon {
  width: 40px;
  color: #045D56;
  font-size: 2rem;
  margin: 5px 5px 5px 20px; }

.intro {
  height: 100%;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center; }

.chat {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap; }

.chat__sidebar {
  width: 310px;
  background-color: #373740;
  border-right: 1px solid #26282f;
  display: flex;
  flex-direction: column; }

.chat__content {
  width: calc(100% - 310px);
  height: 100%; }

.chat__panel {
  margin: 5px;
  display: flex; }

.chat__toolbar {
  margin: 5px;
  display: flex;
  flex-direction: row;
  height: 42px;
  margin-left: 15px;
  margin-right: 15px; }

.chat__toolbar_content_center {
  align-items: center; }

.chat__toolbar_content_right {
  justify-content: flex-end; }

.chat__dialogs {
  height: calc(100vh - 100px);
  overflow-x: auto;
  margin-left: 15px;
  margin-right: 15px; }

.chat__dialog {
  height: 72px;
  border-top: 1px solid #26282f;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap; }

.chat__dialog:hover {
  background-color: #26282f;
  cursor: pointer; }

.chat__dialog_type_selected {
  background-color: #26282f; }

.chat__avatar-column {
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center; }

.chat__avatar {
  border-radius: 50%; }

.chat__text-column {
  width: 175px;
  display: flex;
  flex-direction: column;
  padding-top: 10px; }

.chat__property-column {
  width: 40px;
  display: flex;
  flex-direction: column; }

.chat__property-column > time:first-child {
  margin-top: 10px; }

.chat__count-unread {
  background-color: #045d56;
  height: 20px;
  width: 20px;
  color: #fff;
  font-size: 0.8rem;
  border-radius: 50%;
  line-height: 20px;
  text-align: center;
  margin: auto; }

.chat__message-preview {
  color: #adadad;
  font-size: 0.8rem; }

.chat__nickname {
  color: #fff;
  font-size: 0.8rem;
  margin-right: 2px; }

.chat__time {
  font-size: 0.7rem; }

.chat__link {
  color: #adadad;
  font-size: 1rem;
  margin: 10px 10px 0 10px; }

.chat__link:hover {
  cursor: pointer;
  color: #1eb980; }

.history {
  width: calc(100% - 30px);
  height: 100%;
  min-width: 600px;
  display: flex;
  flex-direction: column;
  padding: 0 15px; }

.history__header {
  height: 72px;
  border-bottom: 1px solid #26282f;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap; }

.history__body {
  width: 100%;
  font-size: 1rem;
  height: calc(100% - 144px);
  overflow: hidden;
  position: relative; }

.history__footer {
  height: 72px;
  border-top: 1px solid #26282f;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap; }

.history__board {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  padding: 5px 0; }

.history__avatar-column {
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center; }

.history__button-column {
  width: 60px;
  display: flex;
  justify-content: center;
  align-content: center; }

.history__input-column {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 20px; }

.history__button {
  margin: auto;
  background-color: transparent;
  color: #adadad;
  border: 1px solid transparent;
  width: 32px;
  height: 32px;
  cursor: pointer; }

.history__button:focus {
  outline: 0; }

.history__button_type_round {
  border-radius: 50%; }

.history__button_type_round:active {
  outline: 0;
  background-color: #1EB980;
  color: #33333D; }

.history__button_type_text {
  font-size: 1.8rem; }

.history__button_type_text:active {
  outline: 0;
  color: #1eb980; }

.history__button_bg_dark-green {
  background-color: #045d56;
  color: #fff; }

.history__message {
  margin-bottom: 15px; }

.history__message_type_text {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: #26282f;
  color: #fff;
  border-radius: 5px;
  padding: 10px;
  max-width: 40%; }

.history__message_type_image {
  position: relative;
  color: #fff;
  width: 320px; }

.history__message_type_image > img {
  width: 320px;
  border-radius: 5px; }

.history__message_position_left {
  border-top-left-radius: 0px;
  align-self: flex-start; }

.history__message_position_right {
  border-bottom-right-radius: 0px;
  align-self: flex-end; }

.history__message_bg_dark-green {
  background-color: #045d56;
  color: #fff; }

.history__date {
  font-size: 0.8rem;
  display: flex;
  justify-content: center;
  margin-bottom: 15px; }

.history__time {
  color: #adadad;
  font-size: 0.7rem;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin-left: 5px; }

.history__time_bg_gray {
  background-color: #adadad;
  color: #fff;
  border-radius: 25px;
  padding: 0 5px; }

.history__time_position_right-end {
  position: absolute;
  bottom: 10px;
  right: 5px; }

.history__text-column {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.history__avatar {
  border-radius: 50%; }

.history__dialog-name {
  font-size: 1rem;
  color: #fff;
  margin: auto;
  margin-left: 10px; }

.profile {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap; }

.profile__sidebar {
  width: 64px;
  background-color: #373740;
  border-right: 1px solid #27272F;
  display: flex; }

.profile__content {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center; }

.profile__back {
  margin: auto;
  background-color: #045d56;
  color: #fff;
  border-radius: 50%;
  border: 1px solid transparent;
  width: 32px;
  height: 32px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.profile__back:active {
  background-color: #1eb980;
  color: #33333d; }

.profile__card {
  width: 510px; }

.profile__section {
  margin-bottom: 50px;
  display: flex;
  flex-direction: column; }

.profile__avatar-container {
  margin: auto;
  margin-bottom: 15px;
  position: relative; }

.profile__avatar {
  border-radius: 50%;
  width: 130px;
  height: 130px;
  margin: auto; }

.profile__avatar-link {
  cursor: pointer;
  position: absolute;
  z-index: 1;
  width: 130px;
  height: 130px;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
  border-radius: 50%; }

.profile__avatar-link:hover {
  opacity: 1;
  color: #fff;
  text-align: center;
  background: rgba(0, 0, 0, 0.5); }

.profile__nickname {
  margin: auto;
  font-size: 1.2rem;
  color: #fff; }

.profile__group {
  border-bottom: 1px solid #adadad;
  width: 100%;
  margin-bottom: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between; }

.profile__group_border_null {
  border: none; }

.profile__group-text {
  font-size: 0.9rem;
  margin-bottom: 5px; }

.profile__group-text_color_white {
  color: #fff; }

.profile__group-text_color_dark-green {
  color: #1EB980; }

.profile__group-text_color_red {
  color: #ff6859; }

.profile__group-link {
  cursor: pointer; }

.profile__input {
  font-size: 0.8rem;
  display: block;
  width: 280px;
  text-align: right;
  border: none;
  background-color: transparent;
  color: #fff;
  margin-bottom: 5px; }

.profile__input:focus {
  outline: none; }

.profile__input_invalid {
  background-color: #ff6859; }

.profile__button {
  width: 280px;
  height: 37px;
  border-radius: 5px;
  margin: auto;
  border: 1px solid transparent; }

.profile__button:focus {
  outline: 0; }

.profile__button_bg_dark-green {
  background-color: #045d56;
  color: #fff;
  font-size: 1rem;
  background-position: center;
  transition: background 0.8s; }

.profile__button_bg_dark-green:hover {
  cursor: pointer;
  background: #2a7d76 radial-gradient(circle, transparent 1%, #2a7d76 1%) center/15000%; }

.profile__button_bg_dark-green:active {
  background-color: #44948e;
  background-size: 100%;
  transition: background 0s; }

.button {
  width: 280px;
  height: 37px;
  border-radius: 5px;
  margin: auto;
  border: 1px solid transparent; }

.button:focus {
  outline: 0; }

.button_bg_dark-green {
  background-color: #045d56;
  color: #fff;
  font-size: 1rem;
  background-position: center;
  transition: background 0.8s; }

.button_bg_dark-green:hover {
  cursor: pointer;
  background: #2a7d76 radial-gradient(circle, transparent 1%, #2a7d76 1%) center/15000%; }

.button_bg_dark-green:active {
  background-color: #44948e;
  background-size: 100%;
  transition: background 0s; }

.text-link {
  color: #adadad;
  font-size: 0.8rem;
  margin-top: 10px; }

.text-link:hover {
  cursor: pointer;
  color: #1eb980; }

.notify {
  position: absolute;
  bottom: 80px;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #adadad;
  background-color: #373740;
  padding: 25px;
  border-radius: 5px; }
