html {
  height: 100%;
  color: #adadad;
}

a {
  text-decoration: none;
  color: #adadad;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  /*box-shadow: inset 0 0 5px grey;*/
  background: #373740;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #26282f;
  border-radius: 10px;
}
