html {
  height: 100%;
  color: #adadad;
}

a {
  text-decoration: none;
  color: #adadad;
}

p {
  text-decoration: none;
  margin: 0;
}

ul,
li {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.w-100 {
  width: 100%;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  /*box-shadow: inset 0 0 5px grey;*/
  background: #373740;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #26282f;
  border-radius: 10px;
}

.chatapp {
  width: 100%;
  height: 100%;
}

.loading {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
