html {
  height: 100%;
  color: #adadad; }

a {
  text-decoration: none;
  color: #adadad; }

p {
  text-decoration: none;
  margin: 0; }

ul,
li {
  text-decoration: none;
  margin: 0;
  padding: 0; }

.w-100 {
  width: 100%; }

::-webkit-scrollbar {
  width: 5px; }

::-webkit-scrollbar-track {
  background: #373740;
  border-radius: 10px; }

::-webkit-scrollbar-thumb {
  background: #26282f;
  border-radius: 10px; }

.chatapp {
  width: 100%;
  height: 100%; }

.loading {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
