@import "dark-theme";

html {
  height: 100%;
  color: $light-gray;
}

a {
  text-decoration: none;
  color: $light-gray;
}

p {
  text-decoration: none;
  margin: 0;
}

ul,
li {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.w-100 {
  width: 100%;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: $gray;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: $super-dark-gray;
  border-radius: 10px;
}

.chatapp {
  width: 100%;
  height: 100%;
}

.loading {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
