.form-field__input {
  font-size: 0.8rem;
  padding: 8px 0 8px 0;
  display: block;
  width: 280px;
  border: none;
  border-bottom: 1px solid #adadad;
  background-color: transparent;
  color: #fff;
}

.form-field__input:focus {
  outline: none;
  border-bottom: 1px solid #1eb980;
}

.form-field__input:valid + .form-field__label {
  top: -12px;
  font-size: 0.7rem;
  color: #adadad;
}

.form-field__input:focus + .form-field__label {
  top: -12px;
  font-size: 0.7rem;
  color: #1eb980;
}

/*.form-field__input:invalid + .form-field__label {
  top: -12px;
  font-size: 0.7rem;
  color: #adadad;
}*/
