.history__button {
  margin: auto;
  background-color: transparent;
  color: #adadad;
  border: 1px solid transparent;
  width: 32px;
  height: 32px;
  cursor: pointer; }

.history__button:focus {
  outline: 0; }
